:root {
    --blue: #a6efe7;
    --green: #b8f88f;
    --orange: #ffb24c;

    --ui-scale: min(1vw, 1vh); /* Base unit for scaling UI elements */
}

@font-face {
  font-family: 'IBM BIOS';
  src: url("../fonts/Px437_IBM_BIOS-2y.ttf") format("truetype");
}

html {
    font-size: 1vmin; /* 1% of the smaller viewport dimension, used for overall scaling */
}

html, body {
    margin: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-family: sans-serif; /* fallback for now */
}

/* Fixed aspect ratio screen */
.screen {
    aspect-ratio: 1 / 1; /* replace later if need be*/
    width: min(100vw, 100vh);
    height: min(100vh, 100vw);
    background: black;
}

.title {
    display: flex;
    gap: calc(0.8 * var(--ui-scale)); /* space between boxes */
    padding: calc(1 * var(--ui-scale)); /* space from edges */
}

.title__box {
    display: flex;
    align-items: center;

    margin-top: calc(1 * var(--ui-scale));
    height: calc(10 * var(--ui-scale)); 
}

.title__box--logo {
    width: calc(10 * var(--ui-scale));
    background: var(--blue);

    justify-content: center;
}

.title__box--logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

.title__box--page-name {
    width: calc(20 * var(--ui-scale));
    background: var(--blue);
}

.title__text {
    margin-left: calc(0.5 * var(--ui-scale));
    font-size: calc(2 * var(--ui-scale));
    font-family: "Press Start 2P", monospace;
    letter-spacing: calc(0.2 * var(--ui-scale));
}

.title__box--letter-scramble {
    width: calc(70 * var(--ui-scale));
    background: transparent;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.letter-scramble__bar {
    height: calc(1 * var(--ui-scale));
    width: 100%;
    background: var(--blue);
}

.letter-scramble__text {
    flex: 1; /* take up remaining space between bars */
    display: flex;
    align-items: center;
    padding: 0 calc(0.5 * var(--ui-scale)); /* horizontal padding */

    font-family: monospace;
    font-size: calc(1.5 * var(--ui-scale));
    line-height: .9; 
    color: var(--green);
}

.options {
    display: flex;
    gap: calc(1 * var(--ui-scale));
    padding: calc(1 * var(--ui-scale));
}

.options__box {
    width: calc(var(--box-width) * var(--ui-scale));   /* important: creates room */
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 calc(1 * var(--ui-scale));
    height: calc(3 * var(--ui-scale));

    border: calc(0.4 * var(--ui-scale)) solid var(--blue);
}

.options__label {
    font-family: "Press Start 2P", monospace;
    font-size: calc(1.5 * var(--ui-scale));
    color: var(--blue);
}

.patient-info {
    gap: calc(1 * var(--ui-scale));
    padding: calc(1 * var(--ui-scale));
}

.patient-info__text-box {
    width: calc(25 * var(--ui-scale));

    display: flex;
    flex-direction: column;

    border-bottom: calc(0.4 * var(--ui-scale)) solid var(--green);
}

.patient-info__header {
    border-bottom: calc(0.4 * var(--ui-scale)) solid var(--green);
    padding-bottom: calc(0.5 * var(--ui-scale));
}

.patient-info__header-text {
    margin-left: calc(2 * var(--ui-scale));

    font-size: calc(1.5 * var(--ui-scale));
    font-family: "Press Start 2P", monospace;
    letter-spacing: calc(0.2 * var(--ui-scale));
    color: var(--green);
}

.patient-info__field-row {
    display: flex;
    gap: calc(1 * var(--ui-scale));
    margin-top: calc(2 * var(--ui-scale));
}

.patient-info__field-label--top-left {
    margin-left: calc(2 * var(--ui-scale));
    margin-bottom: calc(1 * var(--ui-scale));
    display: block;
    font-size: calc(1 * var(--ui-scale));
    font-family: "Press Start 2P", monospace;
    color: var(--green);
}

.patient-info__field-value {
    margin-left: calc(2 * var(--ui-scale));
    display: block;
    font-size: calc(4 * var(--ui-scale));
    font-family: "IBM BIOS", monospace;
    color: var(--green);
}

